h1 {
  color: rgb(74, 37, 116);
  text-align: center;
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 10px;
}

img {
  display: block;
  max-width: 100%;
}
.flexbox {
  display: flex;
  max-width: 1100px; /*limits the container */
  margin: 0 auto; /* align to center */
  flex-wrap: wrap;
}
.flexbox > div {
  flex: 1 1 200px;
  margin: 10px 5px;
}
/* text */
.flexbox p {
  color: rgb(34, 39, 41);
}
